#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    
}

main {
    background-color: brown;
}



/* #cards img {
    padding-right: 50px;
} */

@media screen and (min-width: 390px) and (max-width: 660px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


