@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
   
    
}

header {
    background-color: rgb(40,116,252);
}

nav {
    background-color: rgb(122,220,180);
}