@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(93, 93, 167);
    justify-content: right;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
   
}

nav a {
    color:white
}

main {
    max-width: 760px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



#main-h2 {
    margin:0 auto;
    text-align: center;
    display: flex;
}

a {
    color:black;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

ul {
    list-style-type: none;
}

footer {
    background-color: rgb(93, 93, 167);
    color:white;
}